
<h2>Sign up today!</h2>

<form method="post" action="/">
  <input type="text" name="username" placeholder="Choose a username..." />
  <br />
  <input type="password" name="password" placeholder="Choose a password" />
  <br />
  <button>Register</button>
</form>
