
<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

  <title>Express App with Authentication</title>

<!--   <link rel="stylesheet" type="text/css" href="css/style.css">
 --></head>

<body>
  <header>
    <p>Here's the header...{{foo}}</p>

    <ul>
      <li><a href="/reviews">Community</a></li>
      <li><a href="/users/:id">Account</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </header>

  <main>
